<form [formGroup]="form">
   
    <mat-card fxFlex>      

       <!-- <mat-card-header>
            <mat-card-title>ข้อมูลสมาชิก</mat-card-title>
        </mat-card-header> -->
        <mat-card-content style="margin-top: 20px;">
            <!-- <div fxLayout="row"    > -->
                <!-- <div fxFlex="50"><h3>ข้อมูลสมาชิก</h3></div> -->
            
            <div fxLayout="row" fxLayoutAlign="end start" >
                <mat-card class="example-card" fxFlex="150px">
                    <img mat-card-image  src='{{(avatar ? avatar : "assets/images/NoImg.jpg")}}' style="padding: 5%;">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="example-button-row" fxFlex="100%">
                            <button mat-flat-button color="primary" fxFlex="100%" type="button" (click)="file.click()">อัพโหลดรูป</button>
                            <input mat-raised-button #file type="file" accept="image/x-png,image/gif,image/jpeg" (change)="uploadImage($event)" fxHide>
                            <!-- <button mat-fab extended color="primary" fxFlex="100%">  อัพโหลดรูป</button> -->
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" >
                            <!-- <button mat-raised-button type="button" (click)="file.click()"><i class="fas fa-cloud-upload-alt"></i> อัพโหลดรูป</button> -->
                            
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
            <!-- </div> -->
            <fieldset class="row"> 
                <legend>ข้อมูลสมาชิก</legend>
                <div class="row" fxLayout="row"  fxLayout.xs="column" fxLayoutGap="10px grid"  >
                    <mat-form-field  fxFlex="33.33%" >
                        <mat-label>คำนำหน้าชื่อ</mat-label>
                        <mat-select formControlName="title_id"  placeholder="กรุณาเลือก" required>
                            <mat-option *ngFor="let i of titlename" [value]="i.title_id" >  {{i.title_name}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls['title_id'].hasError('required')">กรุณาเลือกคำนำหน้าชื่อ</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33%">
                        <mat-label>ชื่อ</mat-label>
                        <input matInput type="text" formControlName="first_name" maxlength="100" placeholder="กรุณาระบุข้อมูล" required>
                        <mat-error *ngIf="form.controls['first_name'].hasError('required')">กรุณาระบุชื่อ</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="33.33%"> 
                        <mat-label>นามสกุล</mat-label>
                        <input matInput type="text" formControlName="last_name" maxlength="100" placeholder="กรุณาระบุข้อมูล" required>
                        <mat-error *ngIf="form.controls['last_name'].hasError('required')">กรุณาระบุนามสกุล</mat-error>
                    </mat-form-field>
                </div>

                

                <div class="row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
                    <mat-form-field appearance="fill" fxFlex="33.33%">
                        <mat-label>วันเกิด</mat-label>
                        <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="birth_date" (dateChange)="CalAge(form.controls['birth_date'].value)" (keydown)="false" required>
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="form.controls['birth_date'].hasError('required')">กรุณาเลือกวันเกิด</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="33.33%"> 
                        <mat-label>อายุ</mat-label>
                        <input matInput type="text" formControlName="age" maxlength="3" value="{{showAge}}"  readonly>
                        <span matSuffix>ปี</span>
                    </mat-form-field>
                    <mat-form-field  fxFlex="33.33%"> 
                        <mat-label>สัญชาติ</mat-label>
                        <input matInput type="text" formControlName="nationality" maxlength="80" placeholder="กรุณาระบุสัญชาติ" required>
                        <mat-error *ngIf="form.controls['nationality'].hasError('required')">กรุณาระบุสัญชาติ</mat-error>
                    </mat-form-field>
                </div>

                

                
                <fieldset class="row"> 
                    <legend>ที่อยู่ที่ติดต่อได้</legend>
                    <div class="row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
                        <mat-form-field fxFlex="33.33%"> 
                            <mat-label>ที่อยู่</mat-label>
                            <input matInput type="text" formControlName="address" maxlength="200" placeholder="กรุณาระบุเอีเมล" >
                            <mat-error *ngIf="form.controls['address'].hasError('required')" >กรุณาระบุอีเมล</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="33.33%"> 
                            <mat-label>จังหวัด</mat-label>
                            <mat-select formControlName="prov_id"  placeholder="กรุณาเลือกจังหวัด" (valueChange)="ProvChange($event)" required>
                                <mat-option *ngFor="let i of province" [value]="i.id" >  {{i.name_th}} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls['prov_id'].hasError('required')">กรุณาเลือกจังหวัด</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="33.33%"> 
                            <mat-label>อำเภอ</mat-label>
                            <mat-select formControlName="amp_id"  placeholder="กรุณาเลือกอำเภอ" (valueChange)="AmpChange($event)" required>
                                <mat-option *ngFor="let i of amphure" [value]="i.id" >  {{i.name_th}} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls['amp_id'].hasError('required')">กรุณาเลือกอำเภอ</mat-error>
                        </mat-form-field>    
                    </div>

                    <div class="row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
                        <mat-form-field fxFlex="33.33%"> 
                            <mat-label>ตำบล</mat-label>
                            <mat-select formControlName="tam_id"  placeholder="กรุณาเลือกตำบล" (valueChange)="TambonChange($event)" required>
                                <mat-option *ngFor="let i of tambon" [value]="i.id" >  {{i.name_th}} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls['tam_id'].hasError('required')">กรุณาเลือกตำบล</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="33.33%"> 
                            <mat-label>รหัสไปรษณีย์</mat-label>
                            <mat-select formControlName="zip_code"  placeholder="กรุณารหัสไปรษณีย์" required>
                                <mat-option *ngFor="let i of zip_code" [value]="i.ZIPCODE" >  {{i.ZIPCODE}} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls['tam_id'].hasError('required')">กรุณารหัสไปรษณีย์</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="33.33%">
                            <mat-label>โทรศัพท์(มือถือ)</mat-label>
                            <input matInput type="text" formControlName="tel" mask="000-000-0000" maxlength="15" placeholder="กรุณาระบุเบอร์โทรศัพท์" required>
                            <mat-error *ngIf="form.controls['tel'].hasError('required')" >กรุณาระบุเบอร์โทรศัพท์</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid">
                        
    
                        <mat-form-field fxFlex="33.33%"> 
                            <mat-label>อีเมล</mat-label>
                            <input matInput type="text" formControlName="email" maxlength="150" placeholder="กรุณาระบุเอีเมล" >
                            <mat-error *ngIf="form.controls['email'].hasError('required')" >กรุณาระบุอีเมล</mat-error>
                            <mat-error *ngIf="form.controls['email'].hasError('email')" >รูปแบบอีเมลไม่ถูกต้อง</mat-error>
                        </mat-form-field>
    
                    </div>
                </fieldset>
                
                    

                </fieldset>
                
                
                
                
            
            
        </mat-card-content>
      </mat-card>
</form>